.section2{

    padding-top: 50px;
    padding-bottom: 50px;
    background: #f6f5f5;
    .pinsection2{
      line-height: 1.7;
      color: #364d59
    }
    .button-y{
        padding: 20px;
        margin-top: 75px;
    }
    .one-sectioninsection2{
        @include fors{
            padding-top: 40px;
        }
    }
  
  
  }