.section-Our-P{ 
    padding-top:40px;
    padding-bottom:40px;
    background-color: #17a2b8;
      .b{
          padding-left: 10px;
          padding-right: 10px;
              }
    .ourp{

     border-radius: 10px;
        background-color: white;
        padding: 40px 20px;
    }
    .ourp1{
        height: 80px;
        img{
            width: 80px;
            height: 80px;
        }
     
    }
}